
@font-face {
    font-family: 'Hartwell Alt Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Regular'), url('Hartwell Alt Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Regular Italic'), url('Hartwell Alt Regular Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Thin'), url('Hartwell Alt Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Thin Italic'), url('Hartwell Alt Thin Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Ultralight'), url('Hartwell Alt Ultralight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Ultralight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Ultralight Italic'), url('Hartwell Alt Ultralight Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Light';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Light'), url('Hartwell Alt Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Light Italic'), url('Hartwell Alt Light Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Medium'), url('Hartwell Alt Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Medium Italic'), url('Hartwell Alt Medium Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Semibold'), url('Hartwell Alt Semibold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Semibold Italic'), url('Hartwell Alt Semibold Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Bold'), url('Hartwell Alt Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Bold Italic'), url('Hartwell Alt Bold Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Black';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Black'), url('Hartwell Alt Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Black Italic'), url('Hartwell Alt Black Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Heavy'), url('Hartwell Alt Heavy.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Alt Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Alt Heavy Italic'), url('Hartwell Alt Heavy Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Regular'), url('Hartwell Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Italic'), url('Hartwell Regular Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Thin'), url('Hartwell Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Thin Italic'), url('Hartwell Thin Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Ultralight'), url('Hartwell Ultralight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Ultralight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Ultralight Italic'), url('Hartwell Ultralight Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Light';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Light'), url('Hartwell Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Light Italic'), url('Hartwell Light Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Medium'), url('Hartwell Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Medium Italic'), url('Hartwell Medium Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Semibold'), url('Hartwell Semibold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Semibold Italic'), url('Hartwell Semibold Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Bold'), url('Hartwell Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Bold Italic'), url('Hartwell Bold Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Black';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Black'), url('Hartwell Black.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Black Italic'), url('Hartwell Black Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Heavy'), url('Hartwell Heavy.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hartwell Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Hartwell Heavy Italic'), url('Hartwell Heavy Italic.woff') format('woff');
    }
    /* Webfont: Lato-Black */@font-face {
        font-family: 'LatoWebBlack';
        src: url('fonts/Lato-Black.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Black.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-BlackItalic */@font-face {
        font-family: 'LatoWebBlack';
        src: url('fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-BlackItalic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Bold */@font-face {
        font-family: 'LatoWebBold';
        src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Bold.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-BoldItalic */@font-face {
        font-family: 'LatoWebBold';
        src: url('fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-BoldItalic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Hairline */@font-face {
        font-family: 'LatoWebHairline';
        src: url('fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Hairline.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-HairlineItalic */@font-face {
        font-family: 'LatoWebHairline';
        src: url('fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-HairlineItalic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Heavy */@font-face {
        font-family: 'LatoWebHeavy';
        src: url('fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Heavy.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-HeavyItalic */@font-face {
        font-family: 'LatoWebHeavy';
        src: url('fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-HeavyItalic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Italic */@font-face {
        font-family: 'LatoWeb';
        src: url('fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Italic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Light */@font-face {
        font-family: 'LatoWebLight';
        src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Light.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-LightItalic */@font-face {
        font-family: 'LatoWebLight';
        src: url('fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-LightItalic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Medium */@font-face {
        font-family: 'LatoWebMedium';
        src: url('fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Medium.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-MediumItalic */@font-face {
        font-family: 'LatoWebMedium';
        src: url('fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-MediumItalic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Regular */@font-face {
        font-family: 'LatoWeb';
        src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Regular.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Semibold */@font-face {
        font-family: 'LatoWebSemibold';
        src: url('fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Semibold.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-SemiboldItalic */@font-face {
        font-family: 'LatoWebSemibold';
        src: url('fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-SemiboldItalic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-Thin */@font-face {
        font-family: 'LatoWebThin';
        src: url('fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-Thin.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
    /* Webfont: Lato-ThinItalic */@font-face {
        font-family: 'LatoWebThin';
        src: url('fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
        src: url('fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
             url('fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
             url('fonts/Lato-ThinItalic.ttf') format('truetype');
        font-style: italic;
        font-weight: normal;
        text-rendering: optimizeLegibility;
    }
    
   
 
    
    #menu {
        position: fixed;
        top: 0.50em;
        left: 0;
        
    }
    #nav {
        font-family: "LatoWeb";
        background-color: none;
        width:150px;
        text-align:left;
        font-size:1em;
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 20 30 20;
        float:left;
    }
    
    #nav li {
        float:none;
    }
    
    #nav li a:link {
        display:block;
        padding: 4px 5px;
        text-decoration: none;
        background-color: #eee;
        color:#222;
        
    }
    
    .large {
        font-size: 2.2em;
    }
    #main {
        font-family: "LatoWeb";
        font-style: normal;
        font-size: 1.5em;
        color: black;
        background-color: white;
        width: 840px;
        padding: 0 40px 0 40px;
        margin-left: 180px;
        margin-top: auto;
        margin-right: 0;
    }
    .waterfall {
        font-size: 10px;
        width:100%;
        overflow: hidden;
        text-shadow: 0px 0px 0px black;
        color: #000;
    }
 
     